__pycache__/
*.py[cod]
*$py.class
data/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.pth
*.json
*.csv

/src/Supplementary materials
/src/QM9_permutations
/src/download_dir
/src/code/pubchem_datasets
/src/runs